<h3 class="ui header">{{t "forms.i-i-s-project-coupon-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.percent
      class=(if (v-get validationModel "percent" "isInvalid") "error")
      label=(t "forms.i-i-s-project-coupon-e.percent-caption")
      data-test-i-i-s-project-coupon-e-percent=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "percent" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.productName
      class=(if (v-get validationModel "productName" "isInvalid") "error")
      label=(t "forms.i-i-s-project-coupon-e.productName-caption")
      data-test-i-i-s-project-coupon-e-productName=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "productName" "message")}}
  </div>
</form>
