<h3 class="ui header">{{t "forms.i-i-s-project-order-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.status
      class=(if (v-get validationModel "status" "isInvalid") "error")
      label=(t "forms.i-i-s-project-order-e.status-caption")
      data-test-i-i-s-project-order-e-status=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "status" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-project-order-e.client-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.client
      displayAttributeName="password"
      autocomplete=true
      relationName="client"
      projection="ClientL"
      title=(t "forms.i-i-s-project-order-e.client-caption")
      readonly=readonly
      componentName="clientLookup"
      class=(if (v-get validationModel "client" "isInvalid") "error")
      data-test-i-i-s-project-order-e-client=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "client" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-project-order-e.coupon-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.coupon
      displayAttributeName="productName"
      autocomplete=true
      relationName="coupon"
      projection="CouponL"
      title=(t "forms.i-i-s-project-order-e.coupon-caption")
      readonly=readonly
      componentName="couponLookup"
      class=(if (v-get validationModel "coupon" "isInvalid") "error")
      data-test-i-i-s-project-order-e-coupon=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "coupon" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-project-order-e.orderProduct-caption"}}</label>
    {{flexberry-groupedit
      componentName="orderProductGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.orderProduct
      content=model.orderProduct
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "orderProduct" "isInvalid") "error")
      data-test-i-i-s-project-order-e-orderProduct=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "orderProduct" "message")}}
  </div>
</form>
